# Fichiers de construction et de cache
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Fichiers de configuration utilisateur
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# Paramètres de solution et fichiers de dépendances locales
*.mdb
*.opendb
*.VC.db

# Fichiers de déploiement et de packaging
ExportedObj/
.consulo/
.nuget/
*.unitypackage

# Configuration de Mono et VS Code
.vscode/
.monodevelop/
.idea/
*.sln.docstates

# Fichiers spécifiques à macOS
*.DS_Store

# Fichiers de log spécifiques à Unity
sysinfo.txt
*.stackdump

# Fichiers de cache spécifiques aux plateformes mobiles
*.apk
*.aab
*.obb

# Fichiers de déploiement des builds WebGL
Build/
